<config>
	<server>
		<port>8080</port>
	</server>

	<metaspaces>
		<metaspace>
			<name>ms</name>
			<discovery>tibpgm</discovery>
			<listen>tcp</listen>
			<member_name></member_name>
			<!-- TODO <remote_listen></remote_listen> <remote_discovery></remote_discovery> 
				<rx_buffer_size></rx_buffer_size> <transport_thread_count></transport_thread_count> 
				<worker_thread_count></worker_thread_count> <data_store></data_store> <security_policy></security_policy> 
				<security_token></security_token> <authentication_callback></authentication_callback> -->
		</metaspace>

		<!-- <metaspace> -->
		<!-- <name>myms1</name> -->
		<!-- <discovery>tibpgm</discovery> -->
		<!-- <listen>tcp</listen> -->
		<!-- <member_name></member_name> -->
		<!-- TODO <remote_listen></remote_listen> <remote_discovery></remote_discovery> 
			<rx_buffer_size></rx_buffer_size> <transport_thread_count></transport_thread_count> 
			<worker_thread_count></worker_thread_count> <data_store></data_store> <security_policy></security_policy> 
			<security_token></security_token> <authentication_callback></authentication_callback> -->
		<!-- </metaspace> -->
	</metaspaces>
</config>