# Download

<a href="${site-url}nexus/service/local/artifact/maven/redirect?r=snapshots&amp;g=com.tibco.as.io&amp;a=simulator&amp;v=1.0.0-SNAPSHOT&amp;e=zip&amp;c=distribution" class="btn btn-primary">simulator-1.0.0</a>